.button{
  background-color: #007298;
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  margin: 0.5em 0.5em;
  font-size: 1.1em;
}

.header {
  display: flex;
  justify-content: space-between;
  border: solid  black 1px;
  background-color: white;
  align-items:center;
}

.logo{
  margin : 0.5em;
}

.course-card, .empty-course-list {
  border-left: solid 4px black;
  border-radius: 5px;
  padding: 0.5em;
  margin: 1.5em 0.5em;
  box-shadow:
    0 -4px 6px rgba(0, 0, 0, 0.2),   /* Top shadow */
    4px 0 6px rgba(0, 0, 0, 0.2),    /* Right shadow */
    0 4px 6px rgba(0, 0, 0, 0.2);  /* Bottom shadow */
}

.course-details {
  display: flex;
  align-items: center;
}

.course-info {
  flex: 1;
  padding: 0.5em;
  width: 75%;
  margin: 0.5em;
}
.course-meta{
  width: 25%;
  padding: .5em;
  margin: 0.5em;
  
}

.course-authors {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.empty-course-list {
  text-align: center;
} 


.courses-search {
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
}

.courses-container {
 padding: 3em;
} 